{{#each this}}
<div class="card-photo">
    <img src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/{{poster_path}}" alt="{{original_title}}" loading="lazy" />
    <div class="card-info">
        <p class="card-name">
            {{original_title}}
        </p>
        <p class="card-genre-date">
            {{genres.name}} | {{release_date}}
        </p>
    </div>
</div>
{{/each}}