{{#each this}}
<div class="card-photo">
<div class="card-no-image">
    <img class="card-img" src="{{poster_path}}" alt="{{title}}" loading="lazy" />
    </div>
    <div class="card-info">
        <p class="card-name">
            {{title}}
        </p>
        <p class="card-genre-date">
            {{genre_ids}} | {{release_date}}
        </p>
        <p class="id-card is-hidden">{{id}}</p>
    </div>
</div>
{{/each}}