{{#each this}}
<div class="card-photo">
    <img class="card-img" src="{{poster_path}}" alt="{{title}}" loading="lazy" />
    <div class="card-info">
        <p class="card-name">
            {{title}}
        </p>
        <p class="card-genre-date">
            {{genre_ids}} | {{release_date}}
        </p>
                <p class="id-card is-hidden">
                    
                </p>
    </div>
</div>
{{/each}}