{{#with this}}
<button type="button" class="modal-close-btn" data-close>
  <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8 8L22 22" stroke="black" stroke-width="2" />
    <path d="M8 22L22 8" stroke="black" stroke-width="2" />
  </svg>
</button>
<div class="modal-box-main">
  <div class="modal-img-box">
    {{#if poster_path}}
    <img class="modal-img" src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2{{poster_path}}"
      class="modal-image-film" alt="film" />
    {{/if}}
  </div>
  <div class="modal-info">
    <h1 class="modal-title">{{title}}</h1>
    <div class="modal-lists-main">
      <ul class="modal-name-info list">
        <li class="modal-list">Vote/Votes</li>
        <li class="modal-list">Popularity</li>
        <li class="modal-list">Original Title</li>
        <li class="modal-list">Genre</li>
      </ul>
      <ul class="modal-name-info-content list">
        <li class="modal-list"><span class="modal-rating-film">{{vote_average}}</span><span class="modal-slash"> /
          </span>{{vote_count}}</li>
        <li class="modal-list">{{popularity}}</li>
        <li class="modal-list modal-list-trans">
          <p>{{original_title}}</p>
        </li>

        <li class="modal-list modal-list-trans js-genres">{{#each genres}}{{name}}/ {{/each}}</li>

      </ul>
    </div>
    <div class="modal-about-box">
      <h2 class="madal-about">ABOUT</h2>
      <p class="modal-text">{{overview}}</p>
    </div>
    <div class="modal-btns">
      <button type="submit" class="modal-btn js-watched">ADD TO WATCHED</button>
      <button type="submit" class="modal-btn js-queue">ADD TO QUEUE</button>
    </div>
    <p id="js-id" class="is-hidden">{{id}}</p>
    <p class="is-hidden js-year">{{release_date}}</p>
  </div>
</div>
{{/with}}